@import "../Variables";

.order-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  .order-list-item {
    background-color: @app-white-color;
    top: 10px;
    margin-bottom: 10px;
    .shadow(fade(darken(@app-blue-color, 40%), 20%));

    &:hover {
      background-color: @app-white-grey-color;
    }

    a {
      display: block;
      padding: 20px 10px 10px 10px;
      color: @app-black-color;
    }
  }
}